{% set ip_prefix = cidr.split('.')[:3] | join(".") %}

# netgear has them
min-port=4096
stop-dns-rebind
rebind-localhost-ok
dhcp-lease-max=255
dhcp-authoritative

#$ dnsmasq --help dhcp | grep router | head -1
#  3 router

interface=br0
dhcp-range=tag:br0,{{ ip_prefix }}.2,{{ ip_prefix }}.51,255.255.255.128,24h
dhcp-option=tag:br0,option:router,{{ ip_prefix }}.1

interface=wlan0
dhcp-range=tag:wlan0,{{ ip_prefix }}.130,{{ ip_prefix }}.180,255.255.255.128,24h
dhcp-option=tag:wlan0,option:router,{{ ip_prefix }}.1

