global:
  smtp_smarthost: 'localhost:25'

templates:
  - '/etc/alertmanager/template/*.tmpl'

route:
  group_by: ['alertname']
  group_wait: 30s
  group_interval: 5m
  repeat_interval: 3h
  receiver: alerts_all

  routes:
  - match:
      env: prod
    receiver: alerts_prod

receivers:
  - name: alerts_all

  - name: alerts_prod
    webhook_configs:
    - url: 'http://localhost:9095'